html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'finlandica', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #1D1D1D;
    min-width: 275px;
}

a {
    color: #1D1D1D;
}

p {
    margin: 0.5rem 0
}

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: #ffffff;
    color: #ee2951;
    max-height: 400px;
}

.alert-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

.alert-description {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .alert-title {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.875rem;
    }
}
